<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
    <div class="container">
        <div class="up">
            <h1>Nhóm 25</h1>
        </div>
        <div class="header">
            <form action="" method="">
                <input type="text" name="key" placeholder="Tìm khách sạn">
                <input type="submit" value="Tìm"><br>
            </form><br>
            <form action="/admin/hotel">
                <input type="submit" value="Danh sách khách sạn">
            </form><br>
            <form action="/admin">
                <input type="submit" value="Đăng xuất">
            </form>
        </div>
    </div>
</body>
</html>